<!-- start section -->
<section id="about" class="section section--no-pb">
    <div class="container">
        <div class="row flex-md-row-reverse justify-content-sm-center align-items-md-center">
            <div class="col-12 col-md-6">
                <div class="section-heading">
                    <h6 class="__subtitle">About us</h6>

                    <h2 class="__title">Awesome Things<br><span>About Us</span></h2>
                </div>

                <div class="spacer py-4"></div>

                <div>
                    <p>
                        <strong style="color: #555">We have collaborated with strong brands.</strong><br>
                        We have written about technology, mentored future engineers and helped transfer valuable
                        knowledge though our books and video courses.
                    </p>
                </div>
            </div>

            <div class="spacer py-4 d-md-none"></div>

            <div class="col-12 col-md-6  text-center text-md-left">

                <figure class="image-container js-tilt" data-tilt-speed="600" data-tilt-max="15"
                        data-tilt-perspective="700">
                    <img class="img-fluid" width="381" height="424" src="{{ "img/img_1.png" | absURL }}"
                         alt="demo"/>
                </figure>

            </div>
        </div>

        <div class="spacer py-9"></div>

        <div class="row">
            <div class="col-12">

                <!-- start brands list -->
                <div class="brands-list">
                    <div class="__inner">
                        <div class="row justify-content-sm-around align-items-center">
                            <!-- start item -->
                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="{{ "img/brands_img/phraseLogo.png" | absURL }}"
                                             width="126"
                                             alt="Phrase"/>
                                    </figure>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="{{ "img/brands_img/packtLogo.jpeg" | absURL }}"
                                             width="126"
                                             alt="Packt"/>
                                    </figure>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="{{ "img/brands_img/codeInst.png" | absURL }}"
                                             width="126"
                                             alt="Code Institute"/>
                                    </figure>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="{{ "img/brands_img/manningLogo.png" | absURL }}"
                                             width="132"
                                             alt="Manning"/>
                                    </figure>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="{{ "img/brands_img/fixateLogo.png" | absURL }}" width="120"
                                             alt="Fixate"/>
                                    </figure>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-6 col-sm-auto">
                                <div class="__item">
                                    <figure class="__image">
                                        <img class="img-fluid" src="{{ "img/brands_img/pluralSightLogo.png" | absURL }}" width="120"
                                             alt="Pluralsight"/>
                                    </figure>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end brands list -->

            </div>
        </div>
    </div>
</section>
<!-- end section -->