<!-- start section -->
<section id="blog" class="section">
    <div class="container">
        <div class="section-heading">
            <h6 class="__subtitle">News from our Blog</h6>

            <h2 class="__title">Techway <span>Blog</span></h2>

            <p>We like to share our expertise and we regulalry write for publications all over the world.</p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">
                <!-- start posts -->
                <div class="posts posts--s1">
                    <div class="__inner">
                        <div class="row">
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__header">
                                        <figure class="__image __image--rounded">
                                            <img src="{{ "img/blog/victorops.png" | absURL }}" alt="demo"/>
                                        </figure>
                                    </div>

                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">24 Oct, 2019</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://victorops.com/blog/keeping-local-repos-in-sync-with-open-source-github-repos">Keeping Local Repos in Sync With Open Source GitHub Repos</a></h4>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Git</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #f94a11;background-color: #ffefe8">Version Control</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #0cbc5a;background-color: #e6faef">Technical Debt</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">30 Oct, 2019</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://www.manifold.co/blog/founders-guide-developer-tools-sell-to-engineers">How to sell to engineers</a>
                                            </h4>

                                            <p>
                                                Understanding the dynamics of launching a product in the developer tools market.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Marketing</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #e93053;background-color: #fcecef">Guides</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__header">
                                        <figure class="__image __image--rounded">
                                            <img src="{{ "img/blog/kubernetes.jpeg" | absURL }}" alt="kubernetes"/>
                                        </figure>
                                    </div>

                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">18 Jun, 2019</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://saucelabs.com/blog/what-does-kubernetes-mean-for-software-testing">What Does Kubernetes Mean for Software Testing?</a></h4>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Kubernetes</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #f94a11;background-color: #ffefe8">Testing</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow"
                                     style="background-image: url(public/img/blog/python.png);">
                                    <div class="__body  d-sm-flex align-items-sm-end">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">21 Nov, 2019</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a class="text-black" href="https://www.activestate.com/blog/pythons-built-in-packages-functions/">Python’s Built-In Packages & Functions</a></h4>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Python</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #f94a11;background-color: #ffefe8">Software Development</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__header">
                                        <figure class="__image __image--rounded">
                                            <img src="{{ "img/blog/cyberark.jpeg" | absURL }}" alt="demo"/>
                                        </figure>
                                    </div>

                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">31 May, 2019</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://www.conjur.org/blog/trustless-security-in-practice/">Trustless Security in Practice</a></h4>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Secrets</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #f94a11;background-color: #ffefe8">Security</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #0cbc5a;background-color: #e6faef">Best Practices</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__header">
                                        <figure class="__image __image--rounded">
                                            <img src="{{ "img/blog/phrase.png" | absURL }}" alt="demo"/>
                                        </figure>
                                    </div>

                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">3 Jan, 2020</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://phrase.com/blog/posts/top-10-react-blogs-you-need-to-follow-now/">Top 10 React Blogs You Need to Follow Now</a></h4>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">React</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #f94a11;background-color: #ffefe8">Blogs</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">06 Aug, 2019</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://www.manifold.co/blog/founders-guide-developer-tools-sell-to-engineers">Secret-Hunting in Kubernetes</a>
                                            </h4>

                                            <p>
                                                Learn how to manage secrets effectively in Kubernetes and defend against the risk of secret hunting by attackers.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Kubernetes</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #e93053;background-color: #fcecef">Guides</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Security</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-sm-flex">
                                <div class="__item __item--preview __item--rounded __item--shadow">
                                    <div class="__header">
                                        <figure class="__image __image--rounded">
                                            <img src="{{ "img/blog/twistlock.png" | absURL }}"
                                                 alt="demo"/>
                                        </figure>
                                    </div>

                                    <div class="__body">
                                        <div class="__content">
                                            <div class="post-meta">
                                                <div class="row justify-content-between align-items-center">
                                                    <div class="col-auto">
                                                        <span class="post-meta__item __author">by Theo Despoudis</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <time class="post-meta__item __date-post">4 Jun, 2018</time>
                                                    </div>
                                                </div>
                                            </div>

                                            <h4 class="__title"><a href="https://www.twistlock.com/2018/06/04/7-api-best-practices/">7 API Security Best Practices</a></h4>
                                        </div>
                                    </div>

                                    <div class="__footer">
                                        <div class="tags-list">
                                            <ul>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">API</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #f94a11;background-color: #ffefe8">Security</a>
                                                </li>
                                                <li><a href="#"
                                                       style="color: #695afd;background-color: #f2f1ff">Best Practices</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end posts -->
            </div>
        </div>
    </div>
</section>
<!-- end section -->