<!-- start footer -->
<footer class="footer footer--s2 footer--color-dark">
    <div class="footer__line footer__line--first">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="footer__item">
                        <a class="footer__logo site-logo" href="/">
                            <img class="img-fluid" src={{ "img/site_logo/logo.png" | absURL }} width="130" alt="Logo"/>
                        </a>
                    </div>

                    <div class="footer__item">
                        <!-- start social buttons -->
                        <!--                            <div class="s-btns s-btns&#45;&#45;md s-btns&#45;&#45;colored s-btns&#45;&#45;rounded">-->
                        <!--                                <ul class="d-flex flex-row flex-wrap align-items-center">-->
                        <!--                                    <li><a class="f" href="#"><i class="fontello-facebook"></i></a></li>-->
                        <!--                                    <li><a class="t" href="#"><i class="fontello-twitter"></i></a></li>-->
                        <!--                                    <li><a class="y" href="#"><i class="fontello-youtube-play"></i></a></li>-->
                        <!--                                    <li><a class="i" href="#"><i class="fontello-instagram"></i></a></li>-->
                        <!--                                </ul>-->
                        <!--                            </div>-->
                        <!-- end social buttons -->
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-xl-3">
                    <div class="footer__item">
                        <h4 class="footer__item__title">Contact us</h4>

                        <address class="footer__address footer__address--s1">
                            <a href="mailto:contact@techway.io">contact@techway.io</a> <br>
                            <a href="#"></a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__line footer__line--second">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__item">
                        <span class="__copy">Copyrights 2019 © <a class="__dev" href="#" target="_blank">Techway.io</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__waves-container">
        <svg class="footer__wave js-wave"
             data-wave='{"height": 40, "bones": 5, "amplitude": 70, "color": "rgba(196, 227, 251, 0.28)", "speed": 0.3}'
             width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <path d=""/>
        </svg>

        <svg class="footer__wave js-wave"
             data-wave='{"height": 60, "bones": 6, "amplitude": 90, "color": "rgba(196, 227, 251, 0.28)", "speed": 0.35}'
             width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <path d=""/>
        </svg>
    </div>
</footer>

<!-- end footer -->