<!-- start section -->
<section id="get_in_touch" class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 60%"
         style="background-image: url({{ "img/base_bg.jpg" | absURL  }});">
    <div class="container">
        <div class="section-heading section-heading--white section-heading--center">
            <h2 class="__title">Let's <span>Work Together</span></h2>

            <p>
                Feel free to reach out. We would love to help you answer your Javascript, React & Angular related
                questions.
                Whether it is just a quick question or an extensive Software Project.
            </p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">

                <form class="js-contact-form" name="contact" method="POST" data-netlify="true">
                    <p class="invisible" hidden>
                        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                    </p>
                    <div class="input-wrp">
                        <input class="textfield textfield--dark" placeholder="Full name" name="name"
                               type="text"/>
                    </div>

                    <div class="input-wrp">
                        <input class="textfield textfield--dark" placeholder="Email address" name="email"
                               type="text" inputmode="email" x-inputmode="email"/>
                    </div>

                    <label class="input-wrp">
                                <textarea class="textfield textfield--dark" placeholder="Message"
                                          name="message"></textarea>
                    </label>

                    <button class="custom-btn custom-btn--medium custom-btn--style-5 wide" type="submit"
                            role="button">Send Message
                    </button>

                    <div class="form__note"></div>
                </form>

                <!-- start company contacts -->
                <div class="company-contacts company-contacts--s2 mt-12 text-white">
                    <div class="__inner">
                        <div class="__name h3">Have any <span>Questions?</span></div>

                        <div class="row no-gutters align-items-baseline">
                            <div class="col-12 col-md-auto">
                                <a href="mailto:contact@techway.io">contact@techway.io</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end company contacts -->
            </div>
        </div>
    </div>
</section>
<!-- end section -->
</main>
<!-- end main -->