<!-- start section -->
<section id="infoblock" class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 50%"
         style="background-image: url({{ "img/base_bg.jpg" | absURL }} );">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- start info block -->
                <div class="info-block info-block--s1">
                    <div class="row align-items-md-center">
                        <div class="col-12 col-md-6">
                            <div class="section-heading section-heading--white">
                                <h6 class="__subtitle"></h6>

                                <h2 class="__title">Interested in a Consultation?
                                    <span></span></h2>
                            </div>

                            <div class="spacer py-4"></div>

                            <div>
                                <p>
                                    <a class="custom-btn custom-btn--medium custom-btn--style-4" href="#get_in_touch">&nbsp;&nbsp;Let's work together&nbsp;&nbsp;</a>
                                </p>
                            </div>
                        </div>

                        <div class="spacer py-4 d-md-none"></div>

                        <div class="col-12 col-md-6  text-center">
                            <figure class="image-container">
                                <img class="img-fluid" width="409" height="440" src="{{ "img/img_14.png" | absURL }}" alt="demo"/>
                            </figure>
                        </div>
                    </div>
                </div>
                <!-- end info block -->

                <div class="spacer py-10 d-none d-md-block"></div>
                <div class="spacer py-4 d-none d-lg-block"></div>

            </div>
        </div>
    </div>

    <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" width="1680" height="200" viewBox="0 0 1680 200"
             preserveAspectRatio="none" style="min-height: 200px">
            <path d="M0 3s561.937 57 842 55c286 0 484-18 839-58v450H-2z" style="mix-blend-mode:screen"
                  fill="#fff" fill-rule="evenodd"/>
        </svg>
    </div>
</section>
<!-- end section -->