<!-- start section -->
<section id="services" class="section">
    <div class="container">
        <div class="section-heading section-heading--center">
            <h6 class="__subtitle">our services</h6>

            <h2 class="__title">How We <span>can help you</span></h2>

            <p>We offer best in class personalized services</p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">

                <!-- start services -->
                <div class="services services--s6">
                    <div class="__inner">
                        <div class="row">
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-xl-4 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="600"
                                     data-tilt-max="22" data-tilt-perspective="800">
                                    <div class="mb-5">
                                        <i class="__ico">
                                            <img src="{{ "img/services_img/consultation.png" | absURL }}" alt="consulting">
                                        </i>
                                    </div>

                                    <h4 class="__title"><a href="#">Consulting</a></h4>
                                    <p>
                                        We offer personalised consulting services to help your existing teams be more efficient and valuable.
                                        You can use us to streamline your internal development process and expand your body of knowledge.
                                    </p>
                                    <b>Consultancy services cost €60 per hour.</b>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-xl-4 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="600"
                                     data-tilt-max="22" data-tilt-perspective="800">
                                    <div class="mb-5">
                                        <i class="__ico">
                                            <img src="{{ "img/services_img/training.png" | absURL }}" alt="training">
                                        </i>
                                    </div>

                                    <h4 class="__title">Training</h4>
                                    We have a range of Training options tailored to help your developers leverage the best of their tools.
                                    Whether it's React, Angular, Typescript or Javascript we can offer quality and customised training skills covering both theory and practice.
                                    <p>

                                    </p>
                                    <b>Training services cost €60 per hour.</b>
                                </div>
                            </div>
                            <!-- end item -->

                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-xl-4 d-sm-flex">
                                <div class="__item __item--rounded __item--shadow js-tilt" data-tilt-speed="600"
                                     data-tilt-max="22" data-tilt-perspective="800">
                                    <div class="mb-5">
                                        <i class="__ico">
                                            <img src="{{ "img/services_img/mentoring.png" | absURL }}" alt="mentoring">
                                        </i>
                                    </div>

                                    <h4 class="__title">Mentoring</h4>

                                    <p>
                                        We have multiple years on our back helping people understand and learn how to program.
                                        We understand that time is the most precious resource when you want to onboard new engineers.

                                        This is why we can guide you through this process and
                                        show your developers how to write efficient and readable Javascript Code.
                                    </p>

                                    <b>Mentoring costs €50 per hour.</b>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end services -->

            </div>
        </div>
    </div>
</section>
<!-- end section -->