<!-- start section -->
<section id="team" class="section">
    <div class="container">
        <div class="section-heading section-heading--center">
            <h6 class="__subtitle">Meet the team</h6>

            <h2 class="__title">Awesome<br><span>Techway Team</span></h2>

            <p>Meet our Consultants</p>
        </div>

        <div class="spacer py-6"></div>

        <div class="row">
            <div class="col-12">

                <!-- start team -->
                <div class="team team--s1">
                    <div class="__inner">
                        <div class="row">
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item" id="js-tilt-parent-3">
                                    <figure class="__image js-tilt" data-tilt-reverse="true"
                                            data-tilt-mouse-event-element="#js-tilt-parent-3"
                                            data-tilt-speed="1000" data-tilt-max="25"
                                            data-tilt-perspective="1000" data-tilt-scale="1.1">
                                        <img class="img-fluid" src="{{ "img/team_img/theo.png" | absURL }}" alt="Theo"/>
                                    </figure>

                                    <div class="__content">
                                        <h4 class="__name">Theo Despoudis</h4>

                                        <div class="__position">Founder, Consultant</div>

                                        <div class="__soc-btns">
                                            <a class="icon-facebook" href="https://www.facebook.com/fanis.despoudis"></a>
                                            <a class="icon-twitter" href="https://twitter.com/nerdokto"></a>
                                            <a class="icon-github-circled" href="https://github.com/theodesp"></a>
                                            <a class="icon-linkedin-squared" href="https://www.linkedin.com/in/theofanis-despoudis-7bb30913/"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                            <!-- start item -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="__item" id="js-tilt-parent-4">
                                    <figure class="__image js-tilt" data-tilt-reverse="true"
                                            data-tilt-mouse-event-element="#js-tilt-parent-4"
                                            data-tilt-speed="1000" data-tilt-max="25"
                                            data-tilt-perspective="1000" data-tilt-scale="1.1">
                                        <img class="img-fluid" src="{{ "img/team_img/Georgie.png" | absURL }}" alt="Georgie"/>
                                    </figure>

                                    <div class="__content">
                                        <h4 class="__name">Georgie Vargemezi</h4>

                                        <div class="__position">Editor, Content Manager</div>

                                        <div class="__soc-btns">
                                            <a class="icon-facebook" href="https://www.facebook.com/georgie.vargemezi"></a>
                                            <a class="icon-twitter" href="https://twitter.com/hey_georgie"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end item -->
                        </div>
                    </div>
                </div>
                <!-- end team -->

            </div>
        </div>
    </div>
</section>
<!-- end section -->