
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-stackoverflow:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */