@import '../utils/variables';
@import '../utils/extends';
@import '../utils/filters';
@import '../utils/functions';
@import '../utils/media-queries';
@import '../utils/mixins';
@import '../utils/angled-edges';

$theme-color : #30aafc;

a
{
	color: $theme-color;

	&:hover,
	&:focus
	{
		color: $theme-color;
	}
}

main
{
	@include textSelection
	{
		background-color: $theme-color;
	}
}

.top-bar__navigation
{
	.top-bar--dark &
	{
		a:after { background-color: $theme-color; }
	}

	a
	{
		&.active { color: $theme-color; }
	}
}

.top-bar__auth-btns
{
	.top-bar--dark &
	{
		a:after { background-color: $theme-color; }
	}
}

.top-bar__choose-lang
{
	.list-wrap li.is-active span:after { background-color: $theme-color; }
}

.section-heading:not(.section-heading--white)
{
	.__subtitle { color: $theme-color; }
}

.btn-play { background-color: $theme-color; }

.services--s2
{
	.__ico
	{
		border: none;

		background: -moz-linear-gradient(0deg, #28baff 0%, #4f74ef 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, #28baff), color-stop(100%, #4f74ef));
		background: -webkit-linear-gradient(0deg, #28baff 0%, #4f74ef 100%);
		background: -o-linear-gradient(0deg, #28baff 0%, #4f74ef 100%);
		background: -ms-linear-gradient(0deg, #28baff 0%, #4f74ef 100%);
		background: linear-gradient(90deg, #28baff 0%, #4f74ef 100%);
	}
}

.posts--s2
{
	.__item--preview
	{
		.__date-post { background-color: #2e6cff; }
	}
}

%btn-gradient
{
	background: -moz-linear-gradient(0deg, #31abfb 0%, #4683f2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #31abfb), color-stop(100%, #4683f2));
	background: -webkit-linear-gradient(0deg, #31abfb 0%, #4683f2 100%);
	background: -o-linear-gradient(0deg, #31abfb 0%, #4683f2 100%);
	background: -ms-linear-gradient(0deg, #31abfb 0%, #4683f2 100%);
	background: linear-gradient(90deg, #31abfb 0%, #4683f2 100%);
}

.custom-btn
{
	&.custom-btn--style-1
	{
		&:before { @extend %btn-gradient; }
	}

	&.custom-btn--style-2
	{
		&:before { @extend %btn-gradient; }
	}

	&.custom-btn--style-3
	{
		border-color: $theme-color;

		&:before { @extend %btn-gradient; }
	}
}

#btn-to-top
{
	background-color: darken($theme-color, 5%);
}